{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-12 col-md-8">
                <h1>Twitters!</h1>
                <br>
                {% for twitter in twitters %}
                    <div class="alert alert-secondary" role="alert">
                        <div class="container">
                            <div class="row">
                                <div class="col-2 d-flex align-items-center">
                                    {% if twitter.user.profile.profile_image %}
                                        <img src="{{ twitter.user.profile.profile_image.url }}" width=50 height=50 alt="{{ twitter.user.profile.user.username }}" class="rounded-circle">
                                    {% else %}
                                        <img src="{% static 'images/default_profile.png' %}" width=50 height=50 alt="{{ twitter.user.profile.user.username }}" class="rounded-circle">
                                    {% endif %}
                                </div>
                                <div class="col-10">
                                    {{ twitter.body }} <br>
                                    <small class="text-muted">
                                        ({{ twitter.created_at }}) By @{{ twitter.user.username }} &nbsp;&nbsp; {{ twitter.number_of_likes }}
                                        {% if user in twitter.likes.all %}
                                            <a href="{% url 'twitter_like' twitter.id %}" style="text-decoration: none">
                                                <i class="fa-solid fa-heart" style="color: red"></i>
                                            </a>
                                        {% else %}
                                            <a href="{% url 'twitter_like' twitter.id %}" style="text-decoration: none">
                                                <i class="fa fa-heart-o" style="color: red"></i>
                                            </a>
                                        {% endif %}
                                        &nbsp;&nbsp;
                                        <a href="{% url 'twitter_show' twitter.id %}">
                                            <i class="fa-solid fa-share" style="color: gray"></i>
                                        </a>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div><br><br>
                {% endfor %}
            </div>
            <div class="col-sm-12 col-md-4">
                <br><br><br>
                {% if form %}
                    <form method=POST>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-secondary">Post Twitter!</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}